img {
     width: 300px;
}

header  {
    background-color: rgb(178, 144, 247); 
    color: rgb(116, 237, 237);   
    text-align: center; 
    max-width: 800px;
    margin: 0   auto;
    padding: 16px;
}

    main {
            background-color: #FFFFFF;
            color: azure;
            color:azure
            max-width: 800px
            margin: 0 auto;
            padding:
    }

    .artigo-autor {
        font-weight: bold;
    }


    article     {
        display: flex;
    }